@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header-bg-color: #1F2937;
    --main-text-and-logo-color: #F9FAF8;
    --button-color: #3882F6;
    --secondary-text-color: #E5E7EB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.hero_section_container{
    background-color: var(--header-bg-color);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: transparent;
}

nav .heading{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-text-and-logo-color);
}

.heading a{
    text-decoration: none;
    color: var(--main-text-and-logo-color);
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 8px 15px;
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 18px;
}

.hero_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    margin: 0;
}

.hero_content .main_text{
    padding-left: 80px;
}

.main_text h1{
    font-size: 48px;
    color: var(--main-text-and-logo-color);
    font-weight: 900px;
}

.main_text .subtext{
    font-size: 18px;
    color: var(--secondary-text-color);
}

.main_text .sign_up{
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--button-color);
}

.sign_up a{
    text-decoration: none;
    color: var(--main-text-and-logo-color);
}