@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header-bg-color: #1F2937;
    --main-text-and-logo-color: #F9FAF8;
    --button-color: #3882F6;
    --secondary-text-and-bg-color: #E5E7EB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.hero_section_container{
    background-color: var(--header-bg-color);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: transparent;
}

nav .heading{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-text-and-logo-color);
}

.heading a{
    text-decoration: none;
    color: var(--main-text-and-logo-color);
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 8px 15px;
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-text-and-bg-color);
    font-size: 18px;
}

.hero_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    margin: 0;
}

.main_text h1{
    font-size: 48px;
    color: var(--main-text-and-logo-color);
    font-weight: 900px;
}

.main_text .subtext{
    margin-top: 1rem;
    flex: 1;
    font-size: 18px;
    color: var(--secondary-text-and-bg-color);
}

.main_text .sign_up{
    margin-top: 1rem;
    width: 200px;
    padding: 12px 20px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--button-color);
}

.sign_up a{
    text-decoration: none;
    color: var(--main-text-and-logo-color);
    font-weight: 700;
}

.hero_content .hero_image{
    display: flex;
    width: 450px;
    height: 200px;
    background-color: var(--secondary-text-and-bg-color);
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

/* section */
.information .title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--header-bg-color);
    margin-top: 1rem;
    margin-bottom: 30px;
}

.information .boxes{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 50px auto;
    padding: 0 10%;
    max-width: 1000px;
}

.information .info-item{
    text-align: center; /* Centers text beneath the box */
    flex-basis: 150px; /* Gives each item a base width */
}

.information .boxes .box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    padding: 0;
    cursor: default;
    border: 4px solid var(--button-color);
    border-radius: 12px;
}

.information .boxes p{
    font-size: 16px;
    color: #555;
}

.quotes{
    background-color: var(--secondary-text-and-bg-color);
}

.quotes .quote_content{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quotes .quoter{
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 700;
    padding-left: 35rem;
}

.call_to_action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.call_to_action .action_content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
    height: 150px;
    background-color: var(--button-color);
    border-radius: 8px;
    padding: 0 100px;
}

.action_content h1{
    font-size: 18px;
    font-weight: 700px;
    color: var(--secondary-text-and-bg-color);
    margin: 0;
}

.action_content p{
    font-size: 18px;
    font-weight: 300;
    color: var(--secondary-text-and-bg-color);
    margin: 5px 0 0 0; /*below H1 */
}

.action_content .sign-up-button button{
    padding: 8px 30px;
    border-radius: 8px;
    border-style: none;
    border: 2px solid var(--main-text-and-logo-color);
    background-color: transparent;
    color: var(--main-text-and-logo-color);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none;
}

footer{
    background-color: var(--header-bg-color);
    padding: 30px 0;
}

.footer{
    text-align: center;
    width: 100%;
}
.footer span{
    color: var(--secondary-text-and-bg-color);
    font-size: 16px;
}
